*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    top: 0;
}

.link{
    color: #F2DAC2;
    text-decoration: none;
    margin: 5px;
}
.link:hover{
    color: #977656;
}

#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container{
    height: 750px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("./imagens/fundo-barbearia.png");
    background-size: cover;
}

#container-info{
    display: flex;
    width: 40%;
    margin-left: 130px;
    flex-direction: column;
}

.titulo{
    color: #F2DAC2;
    font-size: 50px;
}

.sub-titulo{
    color:#977656;
    margin-top: 10px;
}

p{
    color: #F2DAC2;
    margin-top: 10px;
}

#buttons{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 30px;
}
.button-cortes{
    padding: 15px;
    background-color: #977656;
    
}
.button-cortes:hover{
    border:solid 2px #977656;
    background:none;
}
.button-contato{
    padding: 15px;
  
    border:solid 2px #977656;
   
}
.button-contato:hover{
    background-color: #977656;
}
a{
    color: white;
    text-decoration: none;
}

p{
    width: 70%;
    text-align: justify;
}

#social{
    display: flex;
    margin-top: 40px;
    width: 20%;
    justify-content: space-around;
}